*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
h1 i{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 i span{
    /* color:rgb(90, 89, 224) ;  */
    color: #ff004f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font:italic;
}
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/plain-black-desktop.jpg); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position:fixed; */
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
    position: relative;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:#ff004f ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size:30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
/* <!---------------------------- <h1>About</h1>------------------------> */
#about{
    padding: 80px 0px;
    color: grey;
}
.row{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight:600 ;
    color:white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #df1656;
    font-size:14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-----------------------------Expertise---------------------------------*/
#services{
    padding: 30px 0;
}
.services-list{
    margin:0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services-list div{
    background-color: rgb(67, 63, 63);
    padding:40px;
    /* height: 105%; */
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div svg{
    width: 50px;
    height: 50px;
    margin-bottom:30px ;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color: red;
    transform: translateY(-10px);
}
/* --------------------------portfolio------------------------- */
#portifolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width:100% ;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),red);
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    /* bottom: 0; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align:center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: red;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 90%;
}
.work:hover .gohid{
    text-transform: none;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid red;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: red;
}